registry=https://registry.npm.taobao.org
@suning:registry=http://snpm.cnsuning.com
@argojs:registry=http://snpm.cnsuning.com
proxy=http://xzproxy.cnsuning.com:8080
https-proxy=http://xzproxy.cnsuning.com:8080
noproxy=snpm.cnsuning.com