html,body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.am-list-body {
  border: none;
}

.listContainer {
  width: 100%;
  padding-top: 0.1rem;
  height: calc(100% - 0.88rem);
  
  .list-view-container {
    overflow: auto;
  }

  .item {
    padding: 0 15px;
    border-bottom: 1px solid #ECECED;
  }

  .bookName {
    line-height: 50px;
    color: #888;
    font-size: 18;
    border-bottom: 1px solid #F6F6F6;
  }

  .author {
    display: flex;
    padding: 15px 0;
  }

  .bottomView {
    line-height: 1;
  }

  .authorTxt {
    margin-bottom: 8px;
    font-weight: 'bold'
  }

  .price {
    font-size: 30px;
    color: #FF6E27
  }
}
