
.search-scan-bar {
  width: 100%;
  flex-direction: row !important;
  height: 0.88rem;

  .bar-container {
    flex: 1;
    height: 0.56rem;
    border-radius: 0.06rem;
    margin-top: 0.18rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;

    .bar-input {
      flex: 1;
      outline-color: invert ;
      outline-style: none ;
      outline-width: 0px ;
      border: none ;
      border-style: none ;
      text-shadow: none ;
      -webkit-appearance: none ;
      -webkit-user-select: text ;
      outline-color: transparent ;
      box-shadow: none;
      margin-left: 0.15rem;
      margin-right: 0.15rem;      
    }

    .bar-input::-webkit-input-placeholder {
      color: #BBBBBB;
      font-size: 0.3rem;
    }

    .icon {
      cursor: pointer;
      width: 0.3rem;
      height: 0.3rem;
    }

    .del-icon {
      cursor: pointer;
      width: 0.3rem;
      height: 0.31rem;
      margin-right: 0.2rem;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}