.am-list-body {
  background-color: transparent !important;
}


.list-view-container {
  overflow: auto;
}

.am-list-footer {
  margin-top: -10px;
}

.unpack_loading {
  padding: 15px;
  text-align: center;
}